{% extends "base.html" %} {% load i18n %} {% block title %}{% trans "Social Network Login Failure" %}{% endblock %} {% block content %}
<div class="maill-success">
  <div class="d-table">
    <div class="d-table-cell">
      <div class="container">
        <div class="success-content">
          <h1>{% trans "Social Network Login Failure" %}</h1>
          <p>
            {% trans "An error occurred while attempting to login via your social network account." %}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
