{% load static %}
<!DOCTYPE html>
<html dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="This Page Is Not Found">
    <meta name="robots" content="noindex,nofollow">
    <title>404</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/images/favicon.png">
    <!-- Custom CSS -->
    <link href="{% static 'css/dashboard/style.css' %}" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
    <div class="main-wrapper">
        <div class="error-box" style="background: url({% static 'images/error-bg.jpg' %}) no-repeat center center #fff !important">
            <div class="error-body text-center">
                <h1 class="error-title" style="font-family: monospace;">404</h1>
                <h3 class="text-uppercase error-subtitle">PAGE NOT FOUND !</h3>
                <p class="text-muted mb-4 mt-4">YOU SEEM TO BE LOST</p>
                <a href="/" class="rounded-pill btn btn-info btn-rounded-pill waves-effect waves-light mb-4 text-white">Back to Home</a>
            </div>
            <footer class="footer text-center w-100">
                © 2022 CreypInvest Inc.</a>
            </footer>
        </div>
    </div>
</body>

</html>