{% extends 'base.html' %} 
{% load i18n %} 
{% load static %} 
{% block title %}{% trans "Change Password" %}{% endblock %}
{% block content %}
<div
  class="breadcrumbs"
  style="background-image: url({% static 'images/bread-bg/banner-bg.svg' %})"
>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 offset-lg-3 col-md-12 col-12">
        <div class="breadcrumbs-content">
          <h1 class="page-title">{% trans "Change Password" %}</h1>
          <ul class="breadcrumb-nav">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li>{% trans "Password Reset" %}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="account-login section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3 col-md-10 offset-md-1 col-12">
        <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>

        {% if token_fail %}
            {% url 'account_reset_password' as passwd_reset_url %}
            <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
        {% else %}
        <form
          class="card login-form inner-content"
          action="{% url 'account_signup' %}"
          method="POST"
        >
          {% csrf_token %}
          <div class="card-body">
            <div class="input-head">
              <div class="row">
                  {% for field in form %}
                  <div class="form-group input-group">
                    <label>{{field.label}}</label>
                    <div class="form-group input-group">
                      <label><i class="lni lni-lock-alt"></i></label>
                      <input
                        class="form-control"
                        name="{{field.name}}"
                        type="password"
                        id="reg-pass"
                        placeholder="{{field.label}}"
                        required
                      />
                    </div>
                    {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                    {% endfor %}
                  </div>
                {% endfor %}
              </div>
            </div>
            <div class="button">
              <button class="btn" type="submit" name="action">{% trans 'change password' %}</button>
            </div>
            <h4 class="create-account">
              {% trans 'Take Me' %} <a href="javascript:history.back()">{% trans 'Back' %}</a>
            </h4>
          </div>
        </form>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}
