{% extends "base.html" %}

{% load tailwind_filters %}
{% load static %}
{% load i18n %}
{% block css %}
<style>.account-login .form-group label {
  transform: none !important;
  position: initial !important;
}</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" integrity="sha512-wnea99uKIC3TJF7v4eKk4Y+lMz2Mklv18+r4na2Gn1abDRPPOeef95xTzdwGD9e6zXJBteMIhZ1+68QC5byJZw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock css %}

{% block title %}{% trans "Change Password" %}{% endblock %}
{% block content %}
<div
  class="breadcrumbs"
  style="background-image: url({% static 'images/bread-bg/banner-bg.svg' %})"
>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 offset-lg-3 col-md-12 col-12">
        <div class="breadcrumbs-content">
          <h1 class="page-title">{% trans "Change Password" %}</h1>
          <ul class="breadcrumb-nav">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'dashboard-home' %}">{% trans "Dashboard" %}</a></li>
            <li><a href="{% url 'dashboard-profile' %}">{% trans "Profile" %}</a></li>
            <li>{% trans "Change Password" %}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="account-login section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3 col-md-10 offset-md-1 col-12">
       <form method="POST" class="password_change card login-form inner-content" id="password_change_form" action="{% url 'account_change_password' %}">
           {% csrf_token %}
           <div class="title">
            <h3>{% trans "Change Password" %}</h3>
            <p>{% trans 'Enter your old and new password.' %}</p>
          </div>
               <legend>{% trans "Change Password" %}</legend>
               <div class="form-group">
                 {{form|crispy}}
              </div>
              <div class="button">
                <button class="btn" name="action" type="submit">{% trans 'Change Password' %}</button>
              </div>
              <h4 class="create-account">
                <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
              </h4>
       </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
