asgiref
autopep8
boto3
botocore
certifi
cffi
charset-normalizer
crispy-tailwind
cryptography
defusedxml
dj-database-url
Django
django-allauth
django-countries
django-crispy-forms
django-storages
django-utils-six
gunicorn
idna
jmespath
oauthlib
Pillow
psycopg2-binary
pycodestyle
pycparser
PyJWT
python-dateutil
python-decouple
python-dotenv
python3-openid
requests
requests-oauthlib
s3transfer
six
sqlparse
toml
typing_extensions
tzdata
urllib3
whitenoise
