{% extends 'site/admin-base.html' %} {% block content %}
<div class="sides">
  <h3>TRANSACTIONS</h3>
  <div class="side">
    <ol>
      {% if objects == None %}
      <p style="font-size: small; color:rgba(0, 0, 0, 0.586)">No Transactions</p>
      {% endif %}
      {% for object in objects %}
      <li id="{% if object.plan == 'withdraw' %}w{% else %}withdraw{% endif %}"><a href="#">{{object}}</a>
        <ul style="display: flex; list-style: none">
          [<li>
            <a
              style="color: green; margin-right: 0.5rem"
              href="{% url 'admin-transaction-withdraw-accept' object.pk %}"
              >Accept</a
            >
          </li>
          /
          <li>
            <a
              style="color: red; margin-left: 0.5rem"
              href="{% url 'admin-transaction-withdraw-delete' object.pk %}"
              >Decline</a
            >
          </li>
          ]
        </ul>
    </li>
      {% endfor %}
    </ol>
  </div>
</div>
<style>
  #withdraw{
    display: none !important;
  }
</style>
{% endblock content %}
