{% extends 'base.html' %}
{% load static %}
<title>{% block title %}Contact Us{% endblock title %}</title>
{% block content %}
<div class="contact-us section">
  <div class="container">
  <div class="row">
  <div class="col-lg-6 col-12">
  <div class="contact-widget-wrapper">
  <div class="main-title">
  <h2>Contact Us</h2>
  <p>Get in touch with our support team.</p>
  </div>
  <div class="contact-widget-block">
  <h3 class="title">Call us</h3>
  <p><a href="tel:+14394409591">+14-394-409-591</a></p>
  </div>
  <div class="contact-widget-block">
  <h3 class="title">Email us</h3>
  <p><a href="mailto:creypinvest@gmail.com">creypinvest@gmail.com</a></p>
  </div>
  <div class="contact-widget-block">
  <h3 class="title">Our Address</h3>
  <p>34 Madison Street,</p>
  <p>NY, USA 10005</p>
  </div>
  </div>
  </div>
  <div class="col-lg-6 col-12">
  <div class="contact-form">
  <h3 class="form-title">Leave a message here</h3>
  <form class="form" method="post" action="{% url 'send_contact_email' %}">
    {% csrf_token %}
  <div class="row">
  <div class="col-lg-6 col-md-6 col-12">
  <div class="form-group">
  <input name="name" type="text" placeholder="Name*" required="required">
  </div>
  </div>
  <div class="col-lg-6 col-md-6 col-12">
  <div class="form-group">
  <input name="email" type="email" placeholder="Email*" required="required">
  </div>
  </div>
  <div class="col-lg-6 col-md-6 col-12">
  <div class="form-group">
  <input name="subject" type="text" placeholder="Subject*" required="required">
  </div>
  </div>
  <div class="col-lg-6 col-md-6 col-12">
  <div class="form-group">
  <input name="phone" type="text" placeholder="Phone*" required="required">
  </div>
  </div>
  <div class="col-12">
  <div class="form-group">
  <textarea placeholder="Message*" name="message" id="message-area" class="form-control"></textarea>
  </div>
  </div>
  <div class="col-12">
  <div class="button">
  <button type="submit" class="btn">Send Message</button>
  </div>
  </div>
  </div>
  </form>
  </div>
  </div>
  </div>
  </div>
  </div>
  
  
  <div class="map-section">
  <div class="container">
  <div class="row">
  <div class="col-12">
  <div class="mapouter">
  <div class="gmap_canvas"><iframe width="100%" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=New%20York&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>  
{% endblock content %}