{% extends "base.html" %} {% load i18n %} {% block title %}{% trans "Contact Us" %}{% endblock %} {% block content %}
<div class="maill-success">
  <div class="d-table">
    <div class="d-table-cell">
      <div class="container">
        <div class="success-content">
          <h1>{{title}}</h1>
          <p>{{msg|safe}}</p>
          <div class="button">
            <a href="javascript:history.back()" class="btn"
              >{% trans "Back" %}</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
