<section class="price_plan_area section_padding_130_80 section" id="pricing">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-sm-8 col-lg-6">
          <!-- Section Heading-->
          <div class="section-heading text-center wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
            <h6>Take Bitcoin Investment To Another Level</h6>
            <h3>Let's find a way together</h3>
            <p>We at CreypInvest Inc. has found the cheapest way to get a monthly interests investment plans</p>
            <small>*we currently accept only bitcoin*</small>
            <div class="line"></div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <!-- Single Price Plan Area-->
        <div class="col-12 col-sm-8 col-md-6 col-lg-4">
          <div class="single_price_plan wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
            <div class="title">
              <h3>Starter</h3>
              <p>For New Investors</p>
              <div class="line"></div>
            </div>
            <div class="price">
              <h4>$500</h4>
              <h5>to $5,000</h5>
            </div>
            <div class="description">
              <p><i class="lni lni-checkmark-circle"></i>10% Monthly Interests</p>
              <p><i class="lni lni-checkmark-circle"></i>5 US Stocks from $1,000</p>
              <p><i class="lni lni-close"></i>No Hidden Fees</p>
              <p><i class="lni lni-close"></i>Roundup Remains To Next Whole Number</p>
              <p><i class="lni lni-close"></i>Miner Tools</p>
            </div>
            <div class="button"><a class="btn btn-success btn-2" href="{% url 'deposit_amount' 'starter' %}">Get Started</a></div>
          </div>
        </div>
        <!-- Single Price Plan Area-->
        <div class="col-12 col-sm-8 col-md-6 col-lg-4">
          <div class="single_price_plan active wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
            <!-- Side Shape-->
            <div class="side-shape"><img src="https://bootdey.com/img/popular-pricing.png" alt=""></div>
            <div class="title"><span>Popular</span>
              <h3>Exchange-Traded Funds</h3>
              <p>For Advanced Investors</p>
              <div class="line"></div>
            </div>
            <div class="price">
              <h4>$10,000</h4>
              <h5>to $15,000</h5>
            </div>
            <div class="description">
              <p><i class="lni lni-checkmark-circle"></i>20% Monthly Interests</p>
              <p><i class="lni lni-checkmark-circle"></i>10 US Stocks</p>
              <p><i class="lni lni-checkmark-circle"></i>No Hidden Fees</p>
              <p><i class="lni lni-checkmark-circle"></i>Roundup Remains To Next Whole Number</p>
              <p><i class="lni lni-close"></i>Miner Tools</p>
            </div>
            <div class="button"><a class="btn btn-warning" href="{% url 'deposit_amount' 'exchange-traded-funds' %}">Get Started</a></div>
          </div>
        </div>
        <!-- Single Price Plan Area-->
        <div class="col-12 col-sm-8 col-md-6 col-lg-4">
          <div class="single_price_plan wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
            <div class="title">
              <h3>Expert Trader</h3>
              <p>Unlimited Possibilities</p>
              <div class="line"></div>
            </div>
            <div class="price">
              <h4>$25,000</h4>
              <h5>and above.</h5>
            </div>
            <div class="description">
              <p><i class="lni lni-checkmark-circle"></i>40% Monthly Interests</p>
              <p><i class="lni lni-checkmark-circle"></i>All US Stocks</p>
              <p><i class="lni lni-checkmark-circle"></i>No Hidden Fees</p>
              <p><i class="lni lni-checkmark-circle"></i>Roundup Remains To Next Whole Number</p>
              <p><i class="lni lni-checkmark-circle"></i>Unlimited Stocks Insider Tips</p>
              <p><i class="lni lni-checkmark-circle"></i>Miner Tools</p>
            </div>
            <div class="button"><a class="btn btn-info" href="{% url 'deposit_amount' 'expert-trader' %}">Get Started</a></div>
          </div>
        </div>
      </div>
    </div>
  </section>