{% extends 'auth/deposit/base.html' %} {% load static %}
<title>{% block title %}${{price}} Withdrawal {% endblock title %}</title>
{% block content %}
<form class="form-wrapper" action="{% url 'withdraw_done' %}" method="POST">
  {% csrf_token %}
    <div class="step-2">
      <div class="form-title">
        <div class="header">
          <h2>Confirm Withdraw</h2>
        </div>
        <h5>Please review your transaction</h5>
      </div>
      {% if user.profile.wallet.btc_address %}
      <div class="control-group">
        <label>To:</label>
        <input readonly="readonly" type="text" onclick="copyToClipboard('#generated-address')" value="{{user.profile.wallet.btc_address}}"/>
      </div>
      {% endif %}
      <div class="control-group">
        <ul class="total-amounts">
          <li class="amount-item">
            <p>Amount:</p>
            <p>{{price_btc}} BTC</p>
            <p>${{price}} USD </p>
          </li>
          <li class="amount-item">
            <p>Fee:</p>
            <p>00.00 BTC</p>
            <p>$00.00 USD</p>
          </li>
          <li class="amount-item total-item">
            <p>Total:</p>
            <p>{{price_btc}} BTC</p>
            <p>${{price}} USD</p>
          </li>
        </ul>
      </div>
      <div class="control-group default-note">
        <div class="default-note-group">
          <input type="hidden" name="price" value="{{price}}" required />
          <input type="hidden" name="price_btc" value="{{price_btc}}" required />
        </div>
      </div>
    </div>
    <div class="actions">
      <button type="submit" style="background: #24156A;" class="next sent">
        Done
        <i class="las la-check-double"></i>
      </button>
    </div>
  </form>
  <style>
    .sent{
      transition: all 250ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
    .sent:hover{
      transform: scale(1.1);
      background: #456a15 !important;
      border-radius: 0;
      border: none;
    }
  </style>
{% endblock content %}
