<div class="my-wallet">
	<div class="loading"></div><!-- /.loading -->
	
	<div class="add-account-modal">
		<div class="overlay"></div><!-- /.overlay -->
		
		<div class="account new-account">

			<div class="account-card-type is-visa is-selected" data-card-type="is-visa"></div>
			
			<div class="account-card-type is-mastercard" data-card-type="is-mastercard"></div>
			
			<div class="account-card-type is-amex" data-card-type="is-amex"></div>
			<input type="text" class="account-number" placeholder="**** **** **** ****"  value="" />
			<input type="text" class="account-expiration" placeholder="Valid Thru: " value="" />
			
			<button>+ Add Account</button>
		</div><!-- /.account -->
		
	</div><!-- /.add-account-modal -->
	
	<div class="my-wallet-sidebar">
		
		<h1 class="my-wallet-title">My Wallet <div class="add-account">&#43;</div></h1><!-- /.my-wallet__title -->
		<div class="active-account"></div><!-- /.active-account -->
		
		<div class="accounts-container">
		</div><!-- /.accounts-container -->
	
	</div><!-- /.my-wallet__sidebar -->
	
	<div class="account-details-container">
		<div class="transaction-history-placeholder">Choose an Account</div>
		
	</div><!-- /.my-wallet__account-details -->
	
</div><!-- /.my-wallet -->