{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/themify-icons/0.1.2/css/themify-icons.css"
    />
    <link rel="stylesheet" href="{% static 'css/dashboard/style.css' %}" />
    <link
      rel="stylesheet"
      href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{% static 'images/favicon.svg' %}"
    />
    <title>Dashboard - {% block head_title %}{% endblock head_title %}</title>
    <meta name="author" content="Creyp Invest inc." />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="{% static 'images/favicon.svg' %}"
    />
    {% block css %} {% endblock css %}
    <style>
      .box-shadow {
        box-shadow: 1px 0px 7px rgb(0 0 0 / 5%);
      }
      #bitcoin-toggle {
        cursor: pointer !important;
      }
      .cursor-pointer {
        cursor: pointer !important;
      }
      .nav-dropdown {
        transition: all 0.2s;
      }
      .nav-dropdown:hover {
        background: #6d93b5;
      }
      .nav-dropdown:hover a {
        color: #fff;
      }
    </style>
  </head>
  <body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
      <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
      </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div
      id="main-wrapper"
      data-layout="vertical"
      data-navbarbg="skin6"
      data-sidebartype="full"
      data-sidebar-position="absolute"
      data-header-position="absolute"
      data-boxed-layout="full"
    >
      <!-- ============================================================== -->
      <!-- Topbar header - style you can find in pages.scss -->
      <!-- ============================================================== -->
      <header class="topbar" data-navbarbg="skin6">
        <nav class="navbar top-navbar navbar-expand-md navbar-dark">
          <div class="navbar-header" data-logobg="skin6">
            <!-- ============================================================== -->
            <!-- Logo -->
            <!-- ============================================================== -->
            <a class="navbar-brand" href="{% url 'dashboard-home' %}">
              <!-- Logo icon -->
              <b class="logo-icon">
                <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                <!-- Dark Logo icon -->
                <img
                  src="{% static 'images/logo/dashboard/logo.svg' %}"
                  alt="homepage"
                  class="dark-logo"
                />
              </b>
              <!--End Logo icon -->
              <!-- Logo text -->
              <span class="logo-text">
                <!-- dark Logo text -->
                <img
                  src="{% static 'images/logo/dashboard/logo-text.svg' %}"
                  alt="homepage"
                  class="dark-logo"
                />
              </span>
            </a>
            <!-- ============================================================== -->
            <!-- End Logo -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- toggle and nav items -->
            <!-- ============================================================== -->
            <a
              class="nav-toggler waves-effect waves-light text-dark d-block d-md-none"
              href="javascript:void(0)"
              ><i class="ti-menu ti-close"></i
            ></a>
          </div>
          <!-- ============================================================== -->
          <!-- End Logo -->
          <!-- ============================================================== -->
          <div
            class="navbar-collapse collapse"
            id="navbarSupportedContent"
            data-navbarbg="skin5"
          >
            <!-- ============================================================== -->
            <!-- toggle and nav items -->
            <!-- ============================================================== -->
            <ul class="navbar-nav me-auto mt-md-0">
              <li class="nav-item hidden-sm-down d-none">
                <a href="{% url 'dashboard-home' %}" style="color: white"
                  >Home</a
                >
              </li>
            </ul>

            <!-- ============================================================== -->
            <!-- Right side toggle and nav items -->
            <!-- ============================================================== -->
            <ul class="navbar-nav">
              <!-- ============================================================== -->
              <!-- User profile and search -->
              <!-- ============================================================== -->
              <li class="nav-item dropdown" onclick="toggleNavDropDown()">
                <a
                  class="nav-link dropdown-toggle waves-effect waves-dark"
                  href="#profile"
                  id="navbarDropdown"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  <img
                    src="{% if user.profile.image %}{{user.profile.image.url}}{% else %}{% static 'images/profile-image-placeholder.png' %}{% endif %}"
                    alt="user"
                    class="profile-pic me-2"
                  />{{user.first_name}} {{user.last_name}}
                </a>
                <ul
                  class="dropdown-menu"
                  id="dropdownMenu"
                  aria-labelledby="navbarDropdown"
                >
                  <li class="p-2 cursor-pointer nav-dropdown border-bottom">
                    <a href="{% url 'dashboard-profile' %}">Profile</a>
                  </li>
                  <li class="p-2 cursor-pointer nav-dropdown">
                    <a href="{% url 'account_logout' %}">Logout</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <!-- ============================================================== -->
      <!-- End Topbar header -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- Left Sidebar - style you can find in sidebar.scss  -->
      <!-- ============================================================== -->
      <aside class="left-sidebar" data-sidebarbg="skin6">
        <!-- Sidebar scroll-->
        <div class="scroll-sidebar">
          <!-- Sidebar navigation-->
          <nav class="sidebar-nav">
            <ul id="sidebarnav">
              <!-- User Profile-->
              <li class="sidebar-item">
                <a
                  class="sidebar-link waves-effect waves-dark sidebar-link"
                  href="{% url 'home' %}"
                  aria-expanded="false"
                >
                  <i class="me-3 las fa-home fa-fw" aria-hidden="true"></i>
                  <span class="hide-menu">Home</span></a
                >
              </li>
              <li class="sidebar-item">
                <a
                  class="sidebar-link waves-effect waves-dark sidebar-link {% if title == 'Dashboard' %}active{% endif %}"
                  href="{% url 'dashboard-home' %}"
                  aria-expanded="false"
                >
                  <i class="me-3 las la-wallet fa-fw" aria-hidden="true"></i>
                  <span class="hide-menu">Wallet</span></a
                >
              </li>
              <!-- <i class="las la-wallet"></i> -->
              <li class="sidebar-item">
                <a
                  class="sidebar-link waves-effect waves-dark sidebar-link {% if title == 'Profile' %}active{% endif %}"
                  href="{% url 'dashboard-profile' %}"
                  aria-expanded="false"
                >
                  <i class="me-3 fa fa-user" aria-hidden="true"></i
                  ><span class="hide-menu">Profile</span></a
                >
              </li>
              <li class="sidebar-item">
                <a
                  class="sidebar-link waves-effect waves-dark sidebar-link {% if title == 'Payments' %}active{% endif %}"
                  href="{% url 'dashboard-payment' %}"
                  aria-expanded="false"
                  ><i
                    class="me-3 fa fa-credit-card fa-fw"
                    aria-hidden="true"
                  ></i
                  ><span class="hide-menu">Payments</span></a
                >
              </li>

              <li class="sidebar-item">
                <a
                  class="sidebar-link waves-effect waves-dark sidebar-link {% if title == 'Referral' %}active{% endif %}"
                  href="{% url 'dashboard-referral' %}"
                  aria-expanded="false"
                  ><i class="me-3 fa fa-globe" aria-hidden="true"></i
                  ><span class="hide-menu">Referral</span></a
                >
              </li>

              <li class="sidebar-item">
                <a
                  class="sidebar-link waves-effect waves-dark sidebar-link"
                  href="{% url 'contact-us' %}"
                  aria-expanded="false"
                  ><i class="me-3 fa fa-info-circle" aria-hidden="true"></i
                  ><span class="hide-menu">Help</span></a
                >
              </li>

              <li class="sidebar-item">
                <a
                  class="sidebar-link waves-effect waves-dark sidebar-link"
                  href="{% url 'account_logout' %}"
                  aria-expanded="false"
                  ><i class="me-3 fa fa-sign-out-alt" aria-hidden="true"></i
                  ><span class="hide-menu">Sign Out</span></a
                >
              </li>
            </ul>
          </nav>
          <!-- End Sidebar navigation -->
        </div>
        <!-- End Sidebar scroll-->
      </aside>
      <!-- ============================================================== -->
      <!-- End Left Sidebar - style you can find in sidebar.scss  -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- Page wrapper  -->
      <!-- ============================================================== -->
      <div class="page-wrapper">
        {% if crumbs %} {% include 'dashboard_breadcrumbs.html' with title=title crumbs=crumbs %} {% endif %}
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container">{% block content %} {% endblock content %}</div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <footer class="footer text-center">
          © 2022 <a href="/">CreypInvest Inc.</a>
        </footer>
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
      </div>
      <!-- Start of txt.me widget code -->
      <script
        src="https://v2.txt.me/livechat/js/wrapper/28b37798-7a8d-1670-d8a8-d597b6e7535c"
        async
      ></script>
      <noscript
        ><a
          href="https://txt.me/reviews/28b37798-7a8d-1670-d8a8-d597b6e7535c"
          rel="nofollow"
          >Rate Creyp customer support</a
        ></noscript
      >
    </div>
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="{% static 'assets/plugins/jquery/dist/jquery.min.js' %}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="{% static 'assets/plugins/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/dashboard/app-style-switcher.js' %}"></script>
    <!--Wave Effects -->
    <script src="{% static 'js/dashboard/waves.js' %}"></script>
    <!--Menu sidebar -->
    <script src="{% static 'js/dashboard/sidebarmenu.js' %}"></script>
    <!-- Custon js -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
      localStorage.setItem(
        "profile-pic",
        "{{ user.socialaccount_set.all.0.get_avatar_url }}"
      );
      var bitcoin_toggler = document.querySelectorAll("#bitcoin-toggle");
      var bitcoin_div = document.querySelectorAll("#bitcoin-div");
      //   var user_balance = bitcoin_toggler.getAttribute("data-{{request.user.username}}-balance");
      //   user_balance = parseFloat(user_balance);
      function toggleAmount() {
        bitcoin_toggler[0].classList.toggle("d-none");
        bitcoin_toggler[1].classList.toggle("d-none");
      }
      bitcoin_toggler.addEventListener("click", toggleAmount);
      function btcConverter(bitcoin) {
        if (bitcoin_toggler && bitcoin_div) {
          for (var key in bitcoin_div) {
            var dollars = bitcoin_div[key].getAttribute(
              "data-{{request.user.username}}-balance"
            );
            localStorage.setItem("{{request.user.username}}-balance", dollars);
            dollarsCheck = parseFloat(dollars);
            if (dollarsCheck > 0) {
              var bitcoinAmount = (dollars / bitcoin + 0.0005).toFixed(6);
              var newBal = bitcoinAmount.split(".");
              var content = `<span class="bitcoin_first">${newBal[0]}</span><span class="bitcoin_last sm textmuted">.${newBal[1]}</span>`;
              bitcoin_div[key].innerHTML = `${content}`;
            }
          }
        }
      }
      // COPY TO CLIPBOARD
      function copyToClipboard(text) {
        const elem = document.createElement("textarea");
        let timer;
        clearTimeout(timer);
        elem.value = text;
        document.body.appendChild(elem);
        elem.select();
        document.execCommand("copy");
        document.body.removeChild(elem);
        navigator.clipboard.writeText(text);
        var cpd_btn = document.getElementById("copyed_btn");
        if (cpd_btn) {
          cpd_btn.classList.add("copy_btn-copyed");
          cpd_btn.innerHTML = "<b>copyed</b>";
          timer = setTimeout(() => {
            cpd_btn.innerHTML = "<b>copy</b>";
            cpd_btn.classList.remove("copy_btn-copyed");
          }, 5000);
        } else alert("Copyed To Clipboard");
      }
    </script>
    <script src="{% static 'js/dashboard/custom.js' %}" defer></script>
    <script src="{% static 'js/user_ip.js' %}" defer></script>
  </body>
</html>
